[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textx = "*"
requests = "*"
curlify = "*"
jstyleson = "*"
python-magic = "*"
python-magic-bin = { version = "*", os_name = "=='nt'" }

[dev-packages]
pyinstaller = "*"
autopep8 = "*"
ipython = "*"

[requires]
python_version = "3.9"
