jsonschema==4.22.0
jstyleson==0.0.2
textx==4.0.1
requests_pkcs12==1.24
parsys-requests-unixsocket==0.3.1
requests-aws4auth==1.2.3
requests_ntlm==1.2.0
RestrictedPython==7.1
Faker==25.2.0
requests-hawk==1.2.1
msal==1.28.0
PyYaml==6.0.1
toml==0.10.2
requests==2.31.0