appdirs==1.4.4
autopep8==1.5.4
backcall==0.2.0
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
decorator==4.4.2
distlib==0.3.1
filelock==3.0.12
idna==2.10
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
parso==0.7.1
pickleshare==0.7.5
pipenv==2020.11.15
prompt-toolkit==3.0.8
pycodestyle==2.6.0
Pygments==2.7.2
requests==2.25.0
six==1.15.0
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.2
virtualenv==20.4.0
virtualenv-clone==0.5.4
wcwidth==0.2.5
